<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', {links: links}) %>

        <h4><%= title %></h4>
        <% if (locals.messages.length > 0) {%>
            <% messages.forEach((msg) => { %>
                <%- include('message', {message: msg}); %>
            <% }); %>
        <% } %>
    </body>
</html>